<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <h1>Hello, Vue :)</h1>

    <div id="app">
        <!-- attribute binding, we can also just use :href as a shortcut for v-bind -->
        <!-- <a v-bind:href="url">best website ever</a> -->
        <div v-if="showBooks">
            <ul>
                <li v-for="book in books">
                    <img :src="book.img" :alt="book.title">
                    <h3>{{ book.title }}</h3>
                    <p>{{ book.author }}</p>
                </li>
            </ul>
        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span> <!-- This will hide the element and remove it from the DOM -->
            <span v-else>Show Books</span>
        </button>

    <script src="app.js"></script>
</body>
</html>
